@import "../abstracts/variables";
@import "../abstracts/mixin";

/*--------------- RESET -------------*/

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* -------------- BASIC SETUP ----------*/

::selection {
	background-color: $color-primary;
	color: $color-white;
}

::-moz-selection {
	background-color: $color-primary;
	color: $color-white;
}


::-webkit-scrollbar{
	width: 1.2rem;
}

::-webkit-scrollbar-track {
	background-color: $color-grey-light-1;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient($color-primary-light, $color-primary-dark);
	border-radius: .6rem;
}

html {
	font-size: 62.5%; //1rem = 10px, 10/16 = .625
	scroll-behavior: smooth;

	@include respond (tab-land) {
		font-size: 56.25%; //1rem = 9px, 9/16 = .5625
	}
	@include respond (tab-port) {
		font-size: 50%; //1rem = 8rem, 8/16 = .5
	}
	@include respond (big-desktop) {
		font-size: 75%; //1rem = 12rem, 12/16 = .75
	}

}

body {
	font-family: 'Lato', san-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	padding: 3rem;
	@include respond (tab-port) {
		padding: 0;
	}
	box-sizing: border-box;
}
.row {
	max-width: 114rem;
	margin: 0 auto;
	@include clearfix;
	@include respond(tab-port) {
		max-width: 50%;
	}
}

